body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #50a3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #eaeaea;
}
header a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a {
  font-weight: bold;
  color: #e8491d;
  padding: 0;
}
header a:hover {
  color: white;
  font-weight: bold;
}
header {
  background: #50a3a2;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #eaeaea;
}
header nav ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
  display: inline;
  padding: 0 20px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

.main {
  padding: 15px 0;
}
.main h2 {
  color: #333;
}
.main p {
  font-size: 18px;
  line-height: 1.6em;
}

footer {
  padding: 20px 0;
  background-color: #333;
  color: white;
  text-align: center;
}
footer p {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 21px;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.main-section {
    margin-bottom: 30px;
}
.main-section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

article {
  background-color: #b0b0b0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #585858;
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 350px;
  min-width: 250px;
}

.mainencasing {
  background-color: #b0b0b0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #585858;
  margin: 10px auto;
  padding: 20px;
  max-width: 1000px;
  min-width: 1000px;
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px
}
img {
  overflow-clip-margin: content-box;
  border-radius: 8px
}
.boxed-section {
  border: 2px solid #b0b0b0;
  padding: 20px;
  margin: 20px 0;
}
.team-container {
  display: flex;
  justify-content: space-between;
}

.team-member {
  text-align: center;
  margin: 0 10px; 
}

.team-member img {
  width: 100%; 
  height: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.team-member p {
  margin-top: 8px; 
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
